.container {
  margin: 30rem;
  border: #282c34;
  border-style: solid;
  padding: 3rem;
  font-size: medium;
}

.resultStyle {
  font-size: 5rem;
  border: #282c34;
  padding-right: 2rem;
  border-style: solid;
}

.resultView {
  text-align: right;
}
.center {
  justify-content: center;
  font-size: 7rem;
  padding: 3rem;
  width: 33rem;
  align-items: center;
}
.subView {
  display: flex;
  justify-content: space-between;
}
.numContainer {
  display: flex;
}
.subNumView {
  width: 95rem;
  justify-content: space-between;
}

.numView {
  font-size: 7rem;
  padding: 3rem;
  width: 33rem;
}

.num {
  flex-direction: row;
  margin: 10rem;
  font-size: 25rem;
  font-weight: 900;
}

.opStyle {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.operator {
  margin: 2rem;
  font-size: 4rem;
}
